<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kraken pairs</title>
    <link rel="stylesheet" href="css/main.187a0181cd335e302c15.css?1da1d5127c8c4e511b51">
</head>
<body>
    <main class="main">
        <h1 class="main__title">{{main__title}}</h1>
        <div class="table">
            <div class="table__column">
                <p class="table__column-name table__cell">pair</p>
                <div class="table__cell" v-for="pair in pairs">{{pair.name}}</div>
            </div>
            <div class="table__column">
                <p class="table__column-name table__cell">bid</p>
                <div class="table__cell" v-for="pair in pairs">{{pair.bid}}</div>
            </div>
            <div class="table__column">
                <p class="table__column-name table__cell">ask</p>
                <div class="table__cell" v-for="pair in pairs">{{pair.ask}}</div>
            </div>
        </div>
    </main> 
    <script type="module" src="js/main.62406592e621de1c1c49.js?1da1d5127c8c4e511b51"></script>
</body>
</html>